.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: ivory;
}

.weather-container {
    box-sizing: border-box;
    border-right: 1px solid darkolivegreen;
    margin: 20px;
    width: 60%;
}

.city-container {
    box-sizing: border-box;
    border-left: 1px solid darkolivegreen;
    margin: 20px;
    width: 40%;
    justify-content: center;
}